In [1]:
import pandas as pd
df_merged=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\Df_Merged.csv", encoding="utf-8")

In [2]:
df_merged[df_merged['posted_year'] < 2011]

,item_id,item_name,developer,user_id,playtime_forever,recommend,sentiment_score,posted_year,Action,Casual,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
11694,70,Half-Life,Valve,chidvd,5,True,2,2010,1,0,...,0,0,0,0,0,0,0,0,0,0
11702,1520,DEFCON,Introversion Software,chidvd,39,True,2,2010,0,0,...,0,0,0,0,0,0,0,0,0,0
11710,6300,Dreamfall: The Longest Journey,Funcom,chidvd,22,True,2,2010,0,0,...,0,0,0,0,0,0,0,0,0,0
11718,1700,Arx Fatalis,Arkane Studios,chidvd,12,True,2,2010,0,0,...,0,0,0,0,0,0,0,0,0,0
11726,6310,The Longest Journey,Funcom,chidvd,7,True,2,2010,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139086,230230,Divinity: Original Sin (Classic),Larian Studios,2Degrees,85,True,0,2010,0,0,...,0,0,0,0,0,0,0,0,0,0
1183402,248570,Toribash,Nabi Studios,76561198023634778,56,True,2,2010,1,0,...,0,0,0,0,0,0,0,0,0,0
1183404,236110,Dungeon Defenders II,Trendy Entertainment,76561198023634778,42,True,2,2010,1,0,...,0,0,0,0,0,0,0,0,0,0
1183406,369580,NotGTAV,NotGames,76561198023634778,17,True,2,2010,0,1,...,0,0,0,0,0,0,0,0,0,0
1183408,341500,Camera Obscura,Anteater Games,76561198023634778,13,True,2,2010,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.tail(100)

       item_id  recommend                user_id  sentiment_score  posted_year
59205   304050       True  bestcustomurlevermade                2         2015
59206      620       True      76561198209667851                0         2015
59207   414390       True      76561198209894493                2         2014
59208      440       True      76561198209894493                2         2015
59209      730       True      76561198209894493                2         2015
...        ...        ...                    ...              ...          ...
59300       70       True      76561198312638244                2         2014
59301   362890       True      76561198312638244                2         2014
59302   273110       True            LydiaMorley                2         2014
59303      730       True            LydiaMorley                2         2014
59304      440       True            LydiaMorley                2         2014

[100 rows x 5 columns]